@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{ 
    font-family: helvetica;
}

.container {

}

.side-hero {
    background-image: url(backgroundSignUp.jpg);;
}

.background-text h1 {
    font-family: "Skranji", system-ui;
    color: white;
}

.photo-creds {
    color: white;
}

.middle {
    text-transform: uppercase;
    font-size: 12px;
    color: #464646;
}


.background-text img {
    height: 70px;
}

.main-content p {
    font-weight: bold;
}

.background-text-transparency {
    background-color: rgb(108, 108, 108);
    opacity: 0.5;
}

input:invalid {
    border-color: red;
  }

input:focus {
    border-color: blue;
    box-shadow: 5px 5px 5px 0px #CCCAC1;
}

button {
    background-color: #596D48;
    color: whitesmoke;
}

.bottom a {
    color: #596D48;
    text-decoration: none;
}

