@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

body{ 
    font-family: helvetica;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* Sidebar Styling */
.side-hero {
    background-image: url(backgroundSignUp.jpg);
    min-height: 100%;
    width: 70vw;
    min-width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    color: white;
}

.background-text h1 {
    font-family: "Skranji", system-ui;
    color: white;
    font-size: 60px;
}

.background-text-transparency {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(26, 26, 26, 0.5);
}

.background-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.photo-creds {
    display: flex;
    justify-content: end;
    align-items: end;
}

.background-text img {
    height: 100px;
}

/* Main Content Styling */
.main-content p {
    font-weight: bold;
}

.main-content {
    display: grid;
    grid-template-rows: 1fr 0.5fr 1fr;
}

/* Main Top Styling */
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 220px 50px 50px;
    background-color: #e3e3e3;
    font-size: 20px;
}

/* Main Middle Styling */
.middle h1 {
    padding-left: 50px;
    text-transform:capitalize;
}
.middle {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bolder;
    color: #464646;
    box-shadow:  5px 5px rgba(0, 0, 0, 0.123)
}

.form-container1, .form-container2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
}

.form {
    display: flex;
    padding-left: 50px;
    gap: 70px;
    padding-bottom: 20px;
    
}
form {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
}

input {
    width: 100% ;
    box-sizing: border-box;
    border-color:rgb(211, 211, 211);
    border-width: 0.5px;
    border-radius: 5px;
    height: 25px;

  }

input:invalid {
    border-color: red;
  }

input:focus {
    border-color: blue;
    box-shadow: 5px 5px 5px 0px #CCCAC1;
}

/* Main Bottom Styling */
button {
    background-color: #596D48;
    color: whitesmoke;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px 0px  #CCCAC1;
    height: 40px;
    width: 200px;
}

.bottom a {
    color: #596D48;
    text-decoration: none;
    font-weight: 500;
}

.bottom p {
    font-weight: 500;
}

.bottom {
    padding-left: 50px;
    padding-top: 20px;
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
}

button:hover {
    cursor: pointer;
}