@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');

body{ 
    font-family: helvetica;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Sidebar Styling */
.side-hero {
    background-image: url(backgroundSignUp.jpg);
    height: 100%;
    flex-grow: 1;
    width: 40vw;
    min-width: 345px;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.background-text h1 {
    font-family: "Skranji", system-ui;
    color: white;
}

.background-text {
    display: flex;
}

.photo-creds {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.background-text img {
    height: 70px;
}

